<section class="card">
  <div class="card-body">
    <h1>App de Notas UNEFA</h1>
    <p>
    La App de Notas UNEFA es una innovadora aplicación creada por estudiantes de la Universidad Nacional Experimental Politécnica de la Fuerza Armada (UNEFA), diseñada para facilitar el almacenamiento y gestión de apuntes académicos. Nuestra app permite a los estudiantes capturar, organizar y acceder a sus notas desde cualquier lugar gracias a la integración con la nube.
    </p>
    <h1>Características</h1>
    <p> -Almacenamiento en la Nube: Guarda tus apuntes de manera segura y accede a ellos en cualquier momento y desde cualquier dispositivo.</p>
    <P> -Organización Eficiente: Clasifica tus notas por materias, fechas y etiquetas para una rápida localización.</P>
    <P> -Sincronización Automática: Mantén tus notas siempre actualizadas con sincronización en tiempo real.</P>
    <P> -Interfaz Intuitiva: Disfruta de una experiencia de usuario sencilla y amigable, diseñada específicamente para estudiantes.</P>
    <P> -Desarrollo Sólido: Construida con tecnologías robustas y modernas como MongoDB y Node.js, garantizando un rendimiento y seguridad óptimos.</P>

  <H1>Beneficios</H1>
  <p> -Accesibilidad: Nunca más perderás tus apuntes. Accede a ellos desde cualquier dispositivo con conexión a internet.</p>
  <p> -Eficiencia: Ahorra tiempo en la búsqueda de tus notas y concéntrate en lo realmente importante: estudiar.</p>
  <p> -Seguridad: Tus datos están protegidos con medidas de seguridad avanzadas, asegurando la confidencialidad y disponibilidad de tu información.</p>
  <h5>La App de Notas UNEFA es el aliado perfecto para los estudiantes que buscan una herramienta confiable y eficiente para mejorar su experiencia académica. Descárgala ahora y lleva tus apuntes a otro nivel.</h5>
  
  </div>
</section>
