<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Bloc de Notas UNEFA</h1>
  <p class="lead">Una aplicación sencilla para gestionar notas desarrollada con Node.js, Express, MongoDB y tecnologías JavaScript.</p>
  <hr class="my-2" />
  <p>¡Bienvenido a UNEFA Notas: Tus Apuntes, Siempre a Mano! Regístrate para comenzar a guardar tus notas y acceder a ellas desde cualquier lugar.
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >REGISTRATE YA!</a>
  </div>
</div>